@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
/* Basic settings */
body {
  margin: 0;
  padding: 0;
  color: hsl(0, 0%, 40%);
  font-size: 15px;
  font-family: Helvetica Neue,'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  letter-spacing: 1.5px;
  line-height: 2.13;
}
p {
  margin: 0;
  padding: 0;
  color: hsl(0, 0%, 40%);
}
h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 20px;
  color: #000;
}

h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #333;
  font-size: 18px
}
h3 {
  margin: 4px;
  font-weight: 600;
  color: hsl(0, 0%, 30%);
  width: 100%;
}
.number {
  font-weight: 200;
  font-size: 1.5em;
  font-family: Helvetica Neue;
}
hr {
  margin-left: 80px;
  margin-right: 80px;
}
a:link,
a:visited {
  text-decoration: none;
  color: #666;
}

/* Align settings */
.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.responsive-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
  .align-stretch {
    align-items: center;
    align-self: stretch;
    flex-basis: 40%;
  }
  .align-vert {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .virtical-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
  }
  .align-left {
    align-items: left;
    display: row;
    justify-content: left;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .align-left-company {
    display: flex;
    flex-direction: column;
  }


/* div Elements align */

div.top:before {
  background-size: cover;
  background-position: 0% 50%;
  height: 300px;
  filter: brightness(50%);
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}
.top {
  width: 100%;
  height: 300px;
}
.menubar {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  height: 20%;
}
.service-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height: 50%;
  width: 100%;
}

.apply-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.apply-btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.card {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  box-shadow: 2px 4px 16px rgba(0,0,0,0.2);
  flex-basis: 30%;
}
.difference-card{
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  background-color: #fdfdfd;
  box-shadow: 2px 4px 16px rgba(0,0,0,0.2);
  flex-basis: 45%;
  line-height: 2em;
}

.type {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 10px;
}

.require {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  box-shadow: 2px 4px 16px rgba(0,0,0,0.2);
  width: 80%;
}
.name {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}
.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.function-img {
  margin: 30px;
}

#service .program {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #333;
  margin-bottom: 5px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
ul.menu {
  margin: 0 ;
  padding: 0px;
  display: none;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 10px;
  width: 570px;
  height: 64px;
}

ul.menu li a {
  padding: 5px;
  color:#666;
  width: 100%;
}

ul.menu-mobile {
  margin-top: 5%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-self: stretch;
  list-style: none;
  font-size: 9px;
  width: 100%;
}
ul.menu-mobile li {
  width: 100%;
  text-align: center;
  background: rgb(252, 252, 252);
}
ul.menu-mobile li :active {
  background: #14b5db;
}
ul.menu-mobile a {
  padding-top: 16px;
  padding-bottom: 16px;
  height: 100%;
  width: 100%;
  display: block;
  color: #666;
}

.service-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 75%;
  margin: 10px 0 ;
}
.service-image {
 align-self:center;
}
.examples {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.function-desc {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  max-width: 75%;
}
.function-item {
  margin-top: 30px;
}

.condition-card {
  display: flex;
  justify-content: center;
  align-items:center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.qs {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2em;
  padding-bottom: 10px;
}
.question{
  font-weight: bold;
  font-size:1.1em;
}
.answer {
  margin-top: 0.5em;
}
.difference-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.company-wrap {
    margin-top: 40px;
    margin-bottom: 40px;
}
.company-info {
    margin-top: 20px;
    margin-left: 0px;
}
.company-item {
  margin: 10px;
}

/* Images Icons */
.sns-icon {
  margin-left: 12px;
  margin-right: 12px;
}

.service-icon-red {
  filter: opacity(.3) drop-shadow(0 0 0 #e97f7f) brightness(200%);
  margin: 30px;
}
.service-icon-green {
  filter: opacity(.5) drop-shadow(0 0 0 #16e2c4) brightness(200%);
  margin: 30px;
}
.service-icon-blue {
  filter: opacity(.5) drop-shadow(0 0 0 #14b5db) brightness(200%);
  margin: 30px;
}
.service-icon {
  margin: 30px;
}

.bg-A {
  width: 80px;
  height: 80px;

}
.bg-A img {
  width: 80px;
  height: 80px;
  border-radius: 30%;
  filter: opacity(.5) drop-shadow(0 0 0 #b8d6d6) brightness(200%);
}

.bg-ai {
  width: 120px;
  height: 120px;
  /* filter: opacity(.5) drop-shadow(0 0 0 #49b6b6) brightness(200%); */
}
.bg-resource {
  width: 120px;
  height: 120px;
  /* filter: opacity(.5) drop-shadow(0 0 0 #49b6b6) brightness(200%); */
}
.bg-ci {
  width: 120px;
  height: 120px;
  /* background: url('img/css_sprites.png') -286px -10px; */
}
.bg-D{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.bg-D img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.bg-di {
  width: 256px;
  height: 256px;
  background: url('img/check_circle-24px.svg.net.png');
}
/*
.bg-facebook {
  width: 48px;
  height: 48px;
  background: url('img/css_sprites.png') -422px -486px;
}
.bg-instagram {
  width: 48px;
  height: 48px;
  background: url('img/css_sprites.png') -354px -486px;
}
.bg-twitter {
  width: 48px;
  height: 48px;
  background: url('img/css_sprites.png') -286px -486px;
} */

/* Color */
.name{
  color:hsl(171, 100%, 36%);
  padding-top: 5px;
}

.card {
  background: #fdfdfd;
  /* rgba(255,250,244); */
}
.require {
  background: #fdfdfd;
  /* #fffaf4; */
}
ul.points {
  margin: 10px;

}
ul.points li {
  width: 100%;
  margin: 0;
  list-style-position: inside;
  list-style: url("https://ipfs.io/ipfs/QmT9SJG2N8NiPmiHEf28cWJR3j7K1y3LgmNtvPxHu25Jth");
  display:list-item;
  gap:normal;
  line-height: 1.7em;
  padding:0px 0px 10px 10px;
  text-align:left;
}

/* TOP menu settings */
.menu a:hover {
  color: #18ccae;
  padding-bottom: 3px;
  border-bottom: 2px solid #18ccae;
}
.menu-mobile a {
  border-bottom: 0;
}
ul.menu-mobile li {
  background: #F0F5EC;
  /* #fffaf4; */
  width: 100%;
}
ul.menu-mobile li :active {
  background: #B4CF9E;
}

/* Button settings */
.button_base {
    margin: 0;
    border: 0;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    width: 300px;
    height: 60px;
    text-align: center;
    cursor: default;
  }
  .button_base:hover {
    cursor: pointer;
  }
  .apply-btn:before {
    position: abusolute;
    padding: 10px;
  }
  .rollover {
    color: white;
    border: #14b5db solid 2px;
    padding: 10px;
    background-color: hsl(191, 77%, 48%);
  }
  .rollover:hover {
    color: #14b5db;
    background-color: white;
  }

/* Section settings */
#service,
#function,
#qanda {
  background-color: #F0F5EC;
}

div#service,
div#function,
div#qanda,
div#example,
div#condition,
div#difference,
div#form {
  padding-top: 20px;
  padding-bottom: 40px;
  line-height: 1.7;
}
div#form {
  background-color: #fdfdfd;
}
div#company {
  background-color: #F0F5EC;
  padding-top: 20px;
  padding-bottom: 20px;
}
tr {
  border-bottom: solid 0.5px #9e9e9e;
}

/* footer settings */
.footer {
    background: rgb(20, 20, 20, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-items {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin: 20px;
}
.terms a{
    margin: 10px;
    color:#333333;
}
.privacy a{
    margin: 10px;
    color:#333333;
}
.company-name {
    margin-bottom: 20px;
}
.company-name a{
    color: #333333;
}

/* Background CSS animation */
#canvas {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
#body   { position:absolute; top:0; left:0;}
*{
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  width: 100%;
}
canvas{
  height: 100%;
  width: 100%;
}

/* For mobile */
/* 〜ー 以上はここを読み込む */
@media screen and (min-width: 780px) {

  h1 {
    font-size: 28px;
  }
  h2{
    font-size: 22px;
    text-align: center;
  }

  ul.menu {
    display: flex;
  }
  ul.menu-mobile {
    display: none;
  }
  .service-desc {
    text-align: center;
    max-width: 50%;
    padding-bottom: 1.8em;
    justify-content: center;
    display: flex;
  }

  .service-desc h3 {
    text-align: center;
  }
  .service-desc p {
    text-align: left;
  }

  .examples {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    padding-left: 40px;
    padding-right: 40px;
  }
  .difference-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
  }
  .function-desc {
    margin-top: 0px;
    text-align: left;
    max-width: 50%;
  }
  .function-item {
    margin-top: 30px;
    align-items: start;
  }

  .company-info {
    margin-top: 0px;
    margin-left: 40px;
  }
  .company-wrap {
    align-items: center;
  }
  .responsive-align {
    flex-direction: row
  }
  .reverse {
    flex-direction: row-reverse;
  }
}
.space {
  margin-bottom: 2em;
}

/* color */
.marker {
  background:linear-gradient(transparent 75%, #fff799 75%);
  font-weight: 600;
}
.marker-b {
  background:linear-gradient(transparent 75%, #bce2e8  75%);
  font-weight: bolder;
}
#bce2e8
#F0F5EC
